<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Chat</title>
</head>

<body>

  <div id="app">
    <div class="chat">
      <div class="chat-users collection">
        <a class="collection-item" v-for="item in users" :class="{'active': item.id === user.id}">
          {{ item.name }}
        </a>
      </div>

      <div class="chat-messages" ref="messages">
        <chat-message :message="message" :user="user" v-for="(message, i) in messages" :key="i" />
      </div>
    </div>

    <div class="actions">
      <div class="input-field">
        <input v-model.trim="message" autofocus autocomplete="false" type="text" @keydown.enter="sendMessage"
          placeholder="Type your message..">
      </div>
      <button @click="sendMessage" :disabled="message.length === 0" class="btn">
        Send
      </button>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="app.js"></script>
</body>

</html>